/* Styling for the "x" icon */
#x {
    margin: 10px;
    margin-left: 90%; /* Position on the right */
    cursor: pointer; 
}

/* Styling for the card details section */
.card-details {
    opacity: 0; /* Initially hidden */
    max-height: 0;
    overflow: hidden;
}

.send-chat {
    background-color: rgb(83, 83, 223);
    color: #fff; 
    border-radius: 23px;
    border: none;
    padding: 10px;
    margin: 12px 0;
}

/* Styling for the expanded card details section */
.card-details.expand {
    opacity: 1;
    max-height: 400px; 
    transition: max-height 0.5s ease, opacity 0.6s ease; 
}

.card-details.expand {
    padding: 2px 0px 2px 10px; 
}

/* Styling for the clickable area */
.expand-click {
    cursor: pointer; 
    padding: 2px 0px 2px 10px;
}

/* Styling for unordered lists in extra content */
.extra.content > ul {
    list-style: none; 
    padding: 0; 
}
