/* Header navigation container */
nav.header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding-top: 15px;
}

/* Header title style */
.header > h2 {
    margin: 6px 0px 4px 5px;
}

/* Header menu list */
.header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

/* Header menu items */
.header ul > li {
    padding-right: 20px; 
}

