/* Adjust margin-top and override conflicting styles for h2 elements */
.form-cont > h2 {
    margin-top: 20px !important;
}

/* Add a margin at the bottom of elements with class .head-form */
.head-form {
    margin-bottom: 5px;
}

/* Apply flexbox layout and left padding to all children of .form-cont */
.form-cont > * {
    display: flex;
    padding-left: 10px;
}

/* Style input elements within .form-cont's children */
.form-cont > * input {
    width: 60%;
    height: 20px;
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    margin-left: 10px;
    font-weight: bold;
}

/* Add left margin to input elements within .job-desc-pos */
.job-desc-pos > input {
    margin-left: 24px;
} 

/* Add significant left margin to input elements within .job-desc-skills */
.job-desc-skills > input {
    margin-left: 100px;
}

/* Style textarea elements */
textarea {
    width: 85%;
    height: 70px;
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    margin-left: 10px;
    font-weight: bold;
}
