/* Apply styles to the header title */
.job-form > h2 {
    padding-left: 10px;
    margin-top: 20px;
}

/* Apply styles to all h2 elements */
h2 {
    margin-bottom: 2px; 
}

/* Style the container for the new job form */
.new-job {
    width: 80%; 
    margin: auto; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Style the form inside the new job container */
.job-form {
    padding: 15px; 
}

/* Style the input fields within the job selection section */
.job-sel input {
    margin-left: 60px; 
}

/* Apply margin to the job selection section */
.job-sel {
    margin-left: 15px;
}

/* Style the submit job button and its container */
.submit-job {
    display: flex;
    justify-content: end; 
    margin-right: 20px;
}

/* Style the button within the submit job container */
.submit-job > button {
    align-items: center;
    background: #ffffff;
    color: black;
    cursor: pointer;
    transition: color 1s ease, background 1s ease;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, rgb(85 254 195) 2%, rgb(123 156 194) 100%);
    border-image-slice: 1;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    box-sizing: border-box;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 20px;
    min-height: 3rem;
    padding: 20px 60px 20px 60px; 
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

/* Apply hover styles to the button within the submit job container */
.submit-job > button:hover {
    background: #3ecc9f; 
    color: #ffffff;
    transform: translateY(-1px);
}
