/* Styles for the payment minimum and maximum section */
.payment-min-max {
    display: flex;
}

/* Margin for elements inside the payment minimum and maximum section */
.payment-min-max > * {
    margin-left: 69px; 
    margin-right: 10px; 
}

/* Styles for the project condition length input */
.project-cond-length > input {
    margin-left: 20px; 
}
